@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
  font-size: 16px;
  color: rgb(36, 60, 104);
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.split {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.split-left {
  height: 20vh;
  background: coral;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  .left-container {
    ul {
      list-style: none;
      text-align: start;  
      padding: 0 20px;
    }
    li {
      background: rgb(240, 110, 63);
      padding: 5px;
      margin-top: 1px;
      display: flex;
      justify-content: space-between;
      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    button {
      border: none;
      background: transparent;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  .favorite-btn {
    position: absolute;
    bottom: 10%;
    z-index: 100;
    left: 5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: tomato;
    box-shadow: 0px 2px 2px rgb(226, 84, 59);
    border-bottom: 2px solid rgb(226, 84, 59);
     &:hover {
      border-bottom: none;
     }
    i {
      font-size: 30px;
      color: #fff;
      line-height: 80px;
      .clicked {
        animation: heartAnime 800ms;
      }
    }
    span {
      position: absolute;
    height: 30px;
    width: 30px;
    background: red;
    line-height: 30px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid brown;
    }
  }
}

.header {
  background: rgba(255, 238, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 50px;
  span {
    font-size: 5rem;
    font-weight: bold;
    -webkit-text-stroke: 2px #FFF;
    text-stroke: 2px #FFF;  
    margin-left: 20px;
  }
}

@keyframes heartAnime {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  80% {
    transform: scale(0.95, 1.05) translate(0%, -3%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

@media all and (min-width: 500px) {
  .split-container {
    display: flex;

    .split-left {
      height: 100vh;
    }
  }
}