@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
  font-size: 16px;
  color: rgb(36, 60, 104);
  font-family: 'Open Sans', sans-serif;
}

.loading-box {
  position: relative;
  height: 100vh;
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 120px;
    height: 120px;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 12px;
    }
  }

  .anime {
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: coral rgba(60, 59, 157, 0.4) rgba(60, 59, 157, 0.4);
    -webkit-animation: spinner1_1 1.5s infinite linear forwards;
    animation: spinner1_1 1.5s infinite linear forwards;
    span {
      animation: spinner_loading_text 1.5s infinite linear forwards reverse;
    }
  }

  @keyframes spinner1_1 {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0);
      transform: translate(-50%, -50%) rotate(0);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes spinner_loading_text {
    0% {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.split {
  height: 100vh;
  text-align: center;
}

.split-right {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.split-left {
  flex: 1;
  height: 20vh;
  background: rgb(60, 59, 157);
  background: linear-gradient(90deg, rgba(60, 59, 157, 1) 0%, rgba(31, 42, 170, 1) 34%, rgba(109, 123, 255, 1) 100%);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;

  .left-container {
    h2 {
      color: #fff;
    }

    span {
      color: #fff;
      display: block;
    }

    ul {
      list-style: none;
      text-align: start;
      padding: 0 20px;
    }

    li {
      background: rgba(0, 0, 0, .3);
      padding: 5px;
      border-radius: 6px;
      margin-top: 3px;
      display: flex;
      justify-content: space-between;

      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      color: rgb(23, 23, 47);

      &:focus {
        outline: none;
      }
    }
  }



  .favorite-btn {
    position: absolute;
    bottom: 10%;
    z-index: 100;
    left: 5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: tomato;
    box-shadow: 0px 2px 2px rgb(226, 84, 59);
    border-bottom: 2px solid rgb(226, 84, 59);

    &:hover {
      border-bottom: none;
    }

    i {
      font-size: 30px;
      color: #fff;
      line-height: 80px;

      .clicked {
        animation: heartAnime 800ms;
      }
    }

    span {
      position: absolute;
      height: 30px;
      width: 30px;
      background: red;
      line-height: 30px;
      border-radius: 20px;
      color: #ffffff;
      font-weight: bold;
      border-bottom: 2px solid brown;
    }
  }
}

@keyframes heartAnime {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }

  80% {
    transform: scale(0.95, 1.05) translate(0%, -3%);
  }

  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

.split-container {
  display: flex;

  .split-left {
    height: 100vh;
  }
}

// @media all and (max-width: 800px) {
//   .header {
//     display: none;
//   }
// }